<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.Activity_Competition" />
        <activity android:name=".activities.Activity_Achievements" />
        <activity android:name=".activities.Activity_History" />
        <activity android:name=".activities.Activity_Running" />
        <activity android:name=".activities.Activity_Friends" />
        <activity android:name=".activities.Activity_Profile" />
        <activity android:name=".activities.Activity_Base" />
        <activity android:name=".activities.Activity_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>